#button-container {
  margin-left: 20px;
  justify-content: left;
  gap: 30px;
}

#test {
  margin-left: 1075px;
}

#page-content-container {
}

#post-container {
  border: 2px solid black;
  width: 700px;
  height: 550px;
}

#user-blog {
  border: 2px solid black;
}

#song-desc {
  justify-content: space-evenly;
}

#show {
  justify-content: right;
  margin-right: 60px;
}
