#button-container {
  margin-left: 20px;
  justify-content: left;
  gap: 30px;
}

#test {
  margin-left: 1075px;
}

#page-content-container {
}

#post-container {
  border: 2px solid black;
  width: 700px;
  height: 550px;
}

#user-blog {
  border: 2px solid black;
}

#song-desc {
  justify-content: space-evenly;
}

#show {
  justify-content: right;
  margin-right: 60px;
}

.App {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  /* padding-bottom: 120px; */
}

.navbar {
  background-color: rgb(45, 30, 61);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-shadow: 1px 1px black;
  color: rgb(45, 30, 61);
  width: 100%;
  border: 2px dotted red;
}

.btn {
  background-color: rgb(61, 61, 175);
  box-shadow: 4px 4px black;
  font-size: 20px;
}

.btn-submit {
  background-color: thistle;
}

.card {
  margin: 40px;
  margin-bottom: 50px;
  background-color: rgb(228, 151, 113, 0.5);
  /* opacity: 50%; */

  text-decoration: #000;
}

.song-form {
  background-color: transparent;
}

.card-main {
  width: 55rem;
  height: 10rem;
}

/* .song-bg {
  background-color: rgb(228, 151, 113);
  opacity: 50%;
} */

a:hover {
  color: white;
}

#song-quotes {
  color: rgb(228, 151, 113);
  text-decoration: none;
}

#card-footer-dashboard {
  background-color: transparent;
  border-top: 0px;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.on {
  color: #000;
}

.off {
  color: #ccc;
}

.container {
  background-image: url(./img/actionvance-eXVd7gDPO9A-unsplash.jpg);
  background-size: cover;
  /* object-fit: cover; */
  background-repeat: no-repeat;
  /* display: flex;
  justify-content: space-evenly; */
  width: 100%;
  height: max-content;
  padding: 20px;

  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
}

.form-container {
  margin-top: 35px;
}

.form-container-lr {
  margin-top: 75px;
}

/* .form-group {
  display: flex;
  margin: 20px;
} */

.login-registration {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-label {
  text-align: center;
  margin-right: 10px;
}

a {
  text-decoration: none;
}

#song-quotes {
  font-size: 40px;
}

.welcome {
  /* position: absolute; */
  text-align: center;
  color: rgb(45, 30, 61);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-shadow: 1px 1px black;
}

.font-link {
  font-family: "Bungee Spice", cursive;
}

/* .div {
  width: 100%;
  height: auto;
  background-image: url(./img/actionvance-eXVd7gDPO9A-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid #e9385a;
} */

.quote-text {
  text-shadow: 3px;
  text-emphasis-color: rgb(61, 61, 175);
}
